.product-page {
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h2 {
  margin: 0;
  font-size: 34px;
  color: #333;
}

.add-btn {
  padding: 10px 16px;
  background-color: #218838;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  width: 150px;
  transition: background 0.3s ease;
}

.add-btn:hover {
  background-color: #668b6e;
}

.no-product {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: #777;
}

.product-header {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  justify-content: space-between; /* or center, or flex-start */
  align-items: center;            /* vertical alignment */
}